<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleIdentifier</key>
    <string>com.ikergalardi.PomodoroTimer</string>
    <key>CFBundleExecutable</key>
    <string>PomodoroTimer</string>
    <key>CFBundleIconFile</key>
    <string>icon.icns</string>
    <key>CFBundleDisplayName</key>
    <string>Pomodoro Timer</string>
    <key>CFBundleName</key>
    <string>Pomodoro Timer</string>
    <key>CFBundleVersion</key>
    <string>0.1.0</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1.0</string>
    <key>NSHumanReadableCopyright</key>
    <string>No copyright</string>
    <key>CFBundleSignature</key>
    <string>????</string>
</dict>
</plist>
